name: PHP APP

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:

  build:
    name: CI/CD-PHPAPP
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        port: 22
        script: |
          whoami
          cd /var/html/www/Snipe-IT-2
          sudo git pull origin devcontainer          
